In [ ]:


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from trading.model_manager import ModelManager
import sys
import os

# Initialize
model_manager = ModelManager()


model, metrics = model_manager.train_model(
    df=data,
    pair="EUR_USD",
    total_timesteps=10_000,  # Small number for testing
    eval_freq=1_000
)

Loading and updating data for EUR_USD...
Timeframe: 1h
Date range: 1997-07-03 17:30:25.623804+00:00 to 2024-11-18 17:30:25.623804+00:00
end_time is 2024-11-18 17:30:25.623804+00:00
no fetching, move to calculate indicators for: EUR_USD
Move to normalize for: EUR_USD

Data Summary:
Data range: 2001-01-02 23:00:00+00:00 to 2024-11-18 15:00:00+00:00
Total rows: 209297

Columns available:
['open', 'high', 'low', 'close', 'volume', 'sma_20', 'sma_50', 'senkou_span_a', 'senkou_span_b', 'tenkan_sen', 'kijun_sen', 'rsi', 'macd', 'macd_signal', 'macd_hist', 'bb_upper', 'bb_middle', 'bb_lower', 'atr', 'plus_di', 'minus_di', 'adx']

/Users/floriankockler/Code/GitHub.nosync/ai6-gcp-bot/forex_trading_system/data_management/dataset_manager.py:233: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  resampled.fillna(method='ffill', inplace=True)

,open,high,low,close,volume,sma_20,sma_50,senkou_span_a,senkou_span_b,tenkan_sen,...,macd,macd_signal,macd_hist,bb_upper,bb_middle,bb_lower,atr,plus_di,minus_di,adx
timestamp,,,,,,,,,,,,,,,,,,,,,
2001-01-02 23:00:00+00:00,0.95070,0.95090,0.95050,0.95060,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03 00:00:00+00:00,0.95060,0.95100,0.94920,0.94960,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03 01:00:00+00:00,0.94960,0.95090,0.94950,0.95050,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03 02:00:00+00:00,0.95040,0.95080,0.94980,0.94990,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03 03:00:00+00:00,0.94990,0.95070,0.94990,0.95030,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-18 11:00:00+00:00,1.05481,1.05481,1.05325,1.05424,6483.0,1.071603,1.082893,1.09105,1.0986,1.061215,...,-0.008903,-0.007454,-0.001449,1.098616,1.071603,1.04459,0.005861,13.643312,33.459309,41.931945
2024-11-18 12:00:00+00:00,1.05426,1.05488,1.05346,1.05472,6296.0,1.071603,1.082893,1.09105,1.0986,1.061215,...,-0.008903,-0.007454,-0.001449,1.098616,1.071603,1.04459,0.005861,13.643312,33.459309,41.931945
2024-11-18 13:00:00+00:00,1.05472,1.05688,1.05454,1.05678,8695.0,1.071603,1.082893,1.09105,1.0986,1.061215,...,-0.008903,-0.007454,-0.001449,1.098616,1.071603,1.04459,0.005861,13.643312,33.459309,41.931945
2024-11-18 14:00:00+00:00,1.05678,1.05746,1.05606,1.05688,9070.0,1.071603,1.082893,1.09105,1.0986,1.061215,...,-0.008903,-0.007454,-0.001449,1.098616,1.071603,1.04459,0.005861,13.643312,33.459309,41.931945
2024-11-18 15:00:00+00:00,1.05688,1.05732,1.05658,1.05664,2653.0,1.071603,1.082893,1.09105,1.0986,1.061215,...,-0.008903,-0.007454,-0.001449,1.098616,1.071603,1.04459,0.005861,13.643312,33.459309,41.931945

In [ ]:
from datetime import datetime, timedelta
import pytz
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Add the project root to the Python path so we can import our modules
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

from data_management.dataset_manager import DatasetManager
from visualization.chart_manager import ChartManager


# Initialize managers
dataset_manager = DatasetManager()
chart_manager = ChartManager()

# Test data loading and processing for EUR_USD
def load_and_process_data(
    ticker: str = "EUR_USD",
    timeframe: str = "1min",
    days_back: int = 30,

) -> pd.DataFrame:
    """
    Load and process data for a given ticker.
    
    Args:
        ticker: Currency pair to process
        timeframe: Timeframe for the data
        days_back: Number of days of data to load
    """
    end_time = datetime.now(pytz.UTC)
    start_time = end_time - timedelta(days=days_back)
    
    print(f"Loading and updating data for {ticker}...")
    print(f"Timeframe: {timeframe}")
    print(f"Date range: {start_time} to {end_time}")
    
    df = dataset_manager.load_and_update_dataset(
        currency_pair=ticker,
        timeframe=timeframe,
        start_time=start_time,
        end_time=end_time,
        normalize=False,
    )
    
    print("\nData Summary:")
    print(f"Data range: {df.index[0]} to {df.index[-1]}")
    print(f"Total rows: {len(df)}")
    print("\nColumns available:")
    print(df.columns.tolist())
    
    return df

# Load the data
df = load_and_process_data(ticker="EUR_USD", timeframe="1h", days_back=10_000)

In [2]:
df.loc['2024-11-18 15:00:00+00:00']
# for_charting = df.dropna()
# for_charting

open                1.056880
high                1.057320
low                 1.056580
close               1.056640
volume           2653.000000
sma_20              1.071603
sma_50              1.082893
senkou_span_a       1.091050
senkou_span_b       1.098600
tenkan_sen          1.061215
kijun_sen           1.071685
rsi                31.927920
macd               -0.008903
macd_signal        -0.007454
macd_hist          -0.001449
bb_upper            1.098616
bb_middle           1.071603
bb_lower            1.044590
atr                 0.005861
plus_di            13.643312
minus_di           33.459309
adx                41.931945
Name: 2024-11-18 15:00:00+00:00, dtype: float64

In [ ]:
# Import if needed
from visualization.chart_manager import ChartManager

start_time = pd.Timestamp('2024-01-01', tz='UTC')
end_time = '2024-11-01'
# Initialize chart manager
chart_manager = ChartManager()

# Create all charts with default settings
chart_manager.create_charts(df,start_time=start_time, show_candlesticks=False)

In [ ]:
# Or create charts with specific time range
start_time = pd.Timestamp('2024-01-01')
end_time = pd.Timestamp('2024-01-31')
chart_manager.create_charts(df, 
                         start_time=start_time,
                         end_time=end_time,
                         show_candlesticks=True)

# For single indicator chart
chart_manager.create_single_chart(df, 
                               chart_type='macd',  # or 'price', 'rsi' etc
                               show_candlesticks=False)

In [3]:
eur_test = '/Volumes/ssd_fat2/ai6_trading_bot/datasets/1min/EUR_USD.parquet'
test_df = pd.read_parquet(eur_test)
test_df.tail()

                              open     high      low    close  volume
timestamp
2024-11-18 15:14:00+00:00  1.05668  1.05684  1.05664  1.05684   130.0
2024-11-18 15:15:00+00:00  1.05682  1.05690  1.05682  1.05686   115.0
2024-11-18 15:16:00+00:00  1.05687  1.05700  1.05684  1.05685   143.0
2024-11-18 15:17:00+00:00  1.05684  1.05688  1.05683  1.05686   124.0
2024-11-18 15:18:00+00:00  1.05687  1.05690  1.05664  1.05664   133.0

In [3]:
df.tail()

NameError: name 'df' is not defined

In [ ]:
# Create the charts
chart_manager.create_charts(
    df,
    show_candlesticks=False
)

In [ ]:
# View a different time period
df_subset = df['2024-01-01':'2024-01-15']
chart_manager.create_charts(df_subset, show_candlesticks=False)

# Check specific indicators
print("Available indicators:")
indicators = [col for col in df.columns if col not in ['open', 'high', 'low', 'close', 'volume']]
print(indicators)

# View correlation between indicators
correlation_matrix = df[indicators].corr()
display(correlation_matrix)

In [ ]:
# Check the most recent data points
print("Most recent data:")
display(df.tail(10))

# Check for any gaps in the data
time_diff = df.index.to_series().diff()
gaps = time_diff[time_diff > pd.Timedelta(minutes=16)]  # For 15-min timeframe
if not gaps.empty:
    print("\nFound gaps in data:")
    display(gaps)